{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_inscription.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">

{% endblock %}
 
{% block body %}
<div class="formulaire">

<h1 style="font-size: 28px">Réinitialisation du mot de passe</h1>
<p  style="font-size: 150%">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
<form method="post">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="txtp" placeholder="Mot de passe" required>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" id="valider" class="connexion">
        Valider le mot de passe
    </button>   
</form>

</div>
{% endblock %}