@font-face {
  font-family: "Eras Light ITC";
  src: url("../fonts/ErasLightITC.ttf");
}
@font-face {
  font-family: "Anime Ace 2.0 BB";
  src: url("../fonts/anime-ace-20-bb.ttf");
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Anime Ace 2.0 BB", arial;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .imgpanier {
  height: 20px;
}

header .imglogo {
  height: 75px;
  margin-top: 5px;
}

header nav {
  background: #7ca1f3;
  height: 80px;
  width: 100%;
  font-family: "Anime Ace 2.0 BB", arial;
  -webkit-box-shadow: 0px 1px 5px grey;
  box-shadow: 0px 1px 5px grey;
  z-index: 20;
}

header .logo2 {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .logo2:hover {
  padding: 0 35px;
}

header nav ul {
  float: right;
  margin-right: 20px;
}

header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

header nav ul li a {
  color: black;
  font-size: 14px;
  padding: 8px 0px 20px;
  margin: 0px 14px;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(246, 211, 101, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header ul a.active, header ul a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

header .checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

header #check {
  display: none;
}

@media (max-width: 952px) {
  header label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  header .logo:hover {
    padding-left: 55px;
  }
  header nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  header .checkbtn {
    display: block;
  }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #7ca1f3;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header a:hover, header a.active {
    background: none;
    color: black;
  }
  header #check:checked ~ ul {
    left: 0;
  }
}

h1{
  width: 100%;
  text-align: center;
}

.formulaire{
  margin-top: 120px;
  margin-left: 20%;
  width: 60%;
}

.np{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.txtp{

}

.reste{
  margin-left: 10%;
  width: 80%;
}

.formulaire .txtp{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.connexion{
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  background-color: #8fcaa2;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.4s;
  font-size: 20px;
  font-family: "Anime Ace 2.0 BB", arial;

}

.connexion:hover{
  background-color: #6ea87d;
}

.inscrit{
  text-decoration: none;
  font-size: 14px;
  color: #000;
  transition: 0.4s;
}

.inscrit:hover{
  color: #2f2f2f;
}

.formulaire p{
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}
