{% extends 'base.html.twig' %}

{% block body %}
    <p> Votre compte n'est pas vérifié! Merci de confirmer votre compte avec l'email que vous avez reçu. </p>
{% endblock %}

{% block title %}

{% endblock %}