{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">

{% endblock %}

{% block body %}
<div style="height: 80vh;"
    <h1 style="margin-top: 100px"> Votre compte n'est pas vérifié! Merci de confirmer votre compte avec l'email que vous avez reçu. </h1>
</div>
{% endblock %}

{% block title %}

{% endblock %}