{% extends 'base.html.twig' %}

{% block title %}Mention légales{% endblock %}

{% block body %}
<h1 class="h1cd">Conditions générales d'utilisation
</h1>
<h2 class="h2cd">1- Validité des CGU, Validité des CGU, modification des CGU
</h2>
<p class="cdt"><span>1.1</span>GIGAME, société basée à Troyes, France (ci-après dénommé « nous » ou « GIGAME »),
    distribue, jeu en
    ligne
    (ci-après dénommés « jeu »).
    Les utilisateurs (ci-après dénommés « utilisateurs ») peuvent y accéder via un ordinateur (grâce aux différents
    navigateurs).
    Les services et les prestations fournis dans le cadre de ce jeu, y compris, par exemple, l'affichage du profil de
    l'utilisateur, la participation aux réseaux sociaux du jeu, l' affichage des contenus, des textes sont réalisés
    exclusivement sur le fondementde ces Conditions Générales d’Utilisation (ci-après les « CGU »). Les présentes CGU
    sont publiées lors de la commande ainsi que sur le site Internet du jeu. Elles peuvent y être consultées et
    imprimées à tout moment. Outre les présentes CGU, lesdifférentes règles et instructions propres au jeu s'appliquent
    également.</p>

<p class="cdt"><span>1.2</span> En acceptant les présentes CGU, un contrat de licence est conclu entre les parties. Lors
    de
    l'utilisation des jeux via un navigateur, l'utilisateur reconnaît accepter les CGU pour les services fournis par
    GIGAME en cochant la case « J'accepte les Conditions Générales d’Utilisation » et en cliquant sur le bouton
    d'inscription.</p>

<p class="cdt"><span>1.3</span>GIGAME se réserve le droit de modifier les présentes CGU ainsi que les autres conditions
    en vigueur
    avec un effet à
    venir. GIGAME procédera à ces modifications uniquement en cas de raison majeure, notamment lors de nouveaux
    développements techniques, d'élargissement de ses services, de modifications de la législation en vigueur ou de la
    jurisprudence, ou autres raisons équivalentes. Les modifications ne seront pas appliquées si elles modifient de
    manière significative l'équilibre du contrat entre les parties. Au demeurant, toute modification nécessite l'accord
    de l'utilisateur. L'utilisateur accepte d'être tenu informé des modifications apportées aux CGU au moment de sa
    connexion à la plateforme de jeux, par l'envoi d'un message via le jeu, ou par l'envoi d'un e-mail à l'adresse
    électronique qu'il aura renseignée. Les CGU seront considérées comme acceptées si l'utilisateur ne s'y oppose pas
    par écrit ousous forme de texte (par exemple par e-mail ou fax) dans les 8 semaines (ci-après dénommé le « délai
    d'opposition »). Dans un tel cas, GIGAME l'indiquera de manière distincte lors d'un avis de modification. GIGAME
    recommande à l'utilisateur de lui faire parvenir son opposition par écrit ou par e-mail, et ce afin d'en conserver
    une preuve. Dans ce dernier cas, il conviendra d'indiquer le nom du jeu ainsi que le nom de l'utilisateur dans
    l'objet de l'e-mail.</p>
<p class="cdt"><span>1.4</span>Si l'utilisateur ne fait pas opposition aux CGU modifiées au cours du délai d'opposition
    ou s’il
    continue à utiliser le jeu malgré un accès à la notification de modifications, les CGU modifiées ou complétées lui
    sont opposables. Si l'utilisateur fait opposition aux modifications au cours du délai imparti, les deux parties sont
    en droit de résilier le contrat de licence selon les conditions énoncées à l'article en question des présentes CGU,
    et de supprimer son compte après expiration d'un éventuel délai de suppression.</p>

<p class="cdt"><span>1.5</span>Tous les éventuels paiements de services effectués par avance au-delà de la période de
    cessation
    seront remboursés à l'utilisateur au prorata ou crédités sur d'autres jeux. Lors de chaque notification de
    modification, GIGAME attirera l'attention de l'utilisateur sur les conditions d'opposition et de résiliation, ainsi
    que leur délai et sur les conséquences juridiques, et notamment sur le défaut d'opposition.</p>

<h2 class="h2cd">2- Conclusion du contrat, contrat de licence gratuit
</h2>

<p class="cdt"><span>2.1</span>L'utilisateur peut conclure un contrat relatif à l'utilisation gratuite du jeu via
    navigateur
    (ci-après
    dénommé « contrat de licence »). GIGAME est en droit de résilier le contrat de licence et d'interrompre ses services
    à tout moment et à son entière discrétion.</p>
<p class="cdt"><span>2.2</span>Vous devez avoir au moins 3 ans pour pouvoir jouer à nos jeux. Les personnes plus jeunes
    ne sont pas
    autorisées à jouer à nos jeux.</p>

<p class="cdt"><span>2.3</span>Le contrat de licence régissant l'utilisation gratuite des services via navigateur est
    constitué lors
    de
    la transmission des données du formulaire d'inscription rempli par l'utilisateur et par le déblocage du compte
    associé par les services de GIGAME, ainsi que par l'acception des CGU selon les conditions énoncées à l'article 1.2.
    Le contrat de licence est accordé à titre gratuit.</p>


<p class="cdt"><span>2.4</span>Les contrats de licence sont établis avec GIGAME, société basée à Troyes, 9 rue Québec.
    De plus amples
    informations sur GIGAME, notamment ses adresses de contact (fax, e-mail), son numéro d'identification au registre du
    commerce et les noms de ses représentants légaux, sont disponibles dans la rubrique « Mentions légales ».</p>

<h2 class="h2cd">3- Nom
</h2>

<p class="cdt"><span>3.1</span> L'utilisateur est amené à choisir un nom dans le jeu (ci-après dénommé le « nom
    d'utilisateur »),
    qui lui servira de pseudonyme pour participer au jeu. L'utilisateur n'est pas en droit de réclamer un nom
    d'utilisateur particulier.

</p>
<p class="cdt"><span>3.2 </span>GIGAME se réserve le droit de modifier ou de supprimer le nom choisi par l'utilisateur
    pour des
    raisons
    techniques, éthiques ou légales, sans demander l'approbation de l'utilisateur.</p>

<h2 class="h2cd">4- Équipement technique nécessaire
</h2>

<p class="cdt"><span>4.1</span> Le jeu doit être utilisé sur un ordinateur, (appareils regroupés sous le terme «
    terminal »), et à
    l'aide d'une connexion Internet. L'utilisateur est responsable des coûts de logiciel et de son application, ainsi
    que des frais relatifs à l'utilisation de la connexion à Internet. Il incombe à l'utilisateur de veiller à
    l'entretien de son terminal pour pouvoir utiliser le jeu. GIGAME n'offre aucune assistance dans ce domaine.</p>
<h2 class="h2cd">5- Protection des données
</h2>

<p class="cdt"><span>5.1</span> Des informations sur la nature, l'étendue, le lieu et le but de la collecte, ainsi que
    sur le
    traitement et l'utilisation faite par GIGAME des données personnelles nécessaires à la réalisation de ses
    prestations
    et à l'envoi de la lettre d'information, ou encore sur le droit d'information dont dispose l'utilisateur et son
    droit de rectification, de blocage et de suppression, sont disponibles dans les dispositions sur la protection des
    données.</p>

<h2 class="h2cd">6- Obligations de l'utilisateur
</h2>

<p class="cdt"><span>6.1</span>L'utilisateur garantit que les informations fournies à GIGAME lors de son inscription et
    dans le cadre de
    l'utilisation des services sont exactes et complètes. L'utilisateur s'engage à informer immédiatement GIGAME de tout
    changement concernant les données fournies et de confirmer leur exactitude sur demande.</p>

<p class="cdt"><span>6.2</span>L'utilisateur s'engage à se conformer aux dispositions des présentes CGU, aux règles du
    jeu et aux
    instructions de GIGAME et de ses employés, ainsi que de ses auxiliaires et assistants. Cela inclut les instructions
    des administrateurs et des modérateurs (gestionnaires de communauté, opérateurs) diffusées sur les forums du jeu.
</p>

<p class="cdt"><span>6.3</span>L'utilisateur s'abstiendra également de toute action qui mettrait en danger ou
    perturberait le
    fonctionnement et les fonctionnalités du jeu. L'utilisateur n'a notamment pas le droit :
    <br>
    D’utiliser un nom d'utilisateur enfreignant les droits de tiers (notamment les droits d'auteur, de la personnalité,
    de marque, d'entreprise, etc.) et ne transgressant pas la morale, par exemple en offensant les convictions
    religieuses de tiers, ou revêtant d'un caractère raciste ou discriminatoire GIGAME se distancie expressément de tels
    comportements ; D’utiliser une adresse e-mail ou URL comme nom d'utilisateur ; D'usurper une identité ; D’utiliser,
    de placer ou de publier des contenus menaçants, intimidants, insultants ou diffamatoires, ou de renvoyer vers des
    contenus similaires sur un site tiers, indépendamment du fait que ce contenu fasse référence à d'autres
    utilisateurs, aux employés de GIGAME ou à d'autres personnes ou entreprises ; D'utiliser, de placer ou de publier
    des
    contenus discriminatoires (par exemple envers un groupe de personnes en raison de leur race, origine ethnique,
    religion, handicap, sexe, âge ou orientation sexuelle), politiques, immoraux, pornographiques, moralement
    répréhensibles, offensants, violents, faisant l'apologie de la violence, sexistes, d'extrême droite ou d'extrême
    gauche ou enfreignant des lois, en particulier les lois de protection de l'enfance et le traité interétatique sur la
    protection des mineurs, de placer, de publier ou de renvoyer vers des contenus similaires sur un site tiers ou
    d'encourager, d'offrir à la vente ou de promouvoir des produits pornographiques ou contraires à la loi, en
    particulier les lois de protection de l'enfance ; D’enfreindre la législation en vigueur, d'inciter à commettre une
    infraction ou de s'associer à des actes correspondants ; De publier, de reproduire, de rendre publics ou de
    distribuer des contenus protégés, en violant notamment les droits de propriété intellectuelle (par exemple droits
    d'auteur, marques, brevets, modèles d'agrément ou modèles d'utilité) ; de promouvoir, d'offrir ou de distribuer des
    biens ou des services ; D’offrir ou d'effectuer des actions anti-concurrentielles ou de pousser à ces agissements, y
    compris le recrutement de personnes en progression géométrique (tels que les systèmes de chaînes, ventes selon le
    procédé de la boule de neige ou ventes pyramidales) ; De demander à d'autres utilisateurs leurs données personnelles
    à des fins commerciales ou illégales, ou de leur demander leurs données d'accès ; De mener des activités
    commerciales et/ou des ventes pour des tiers ou faire de la promotion (également via un lien), tels que des
    publicités, jeux- concours, concours, tirages au sort, trocs, systèmes pyramidaux ; De dupliquer ou de rendre
    accessible au public une image d'une autre personne sans le consentement de la personne concernée ; De publier des
    données personnelles et des informations confidentielles sans en avoir l'autorisation ; D’utiliser les services à
    des fins commerciales ; De publier ou de diffuser des contenus susceptibles d'endommager ou de nuire au bon
    fonctionnement des réseaux, serveurs et autres composants de l'infrastructure, ou permettant d'y accéder (par
    exemple la diffusion de vers, chevaux de Troie, virus, logiciels espions, hameçonnage, etc.).
</p>

<p class="cdt"><span>6.4</span>Les fausses inscriptions intentionnelles, l'utilisation ou la mise à disposition de
    contenus non
    autorisés, les infractions prévues à l'article 11 et 12.3, ou l'abus de données confèrent à GIGAME le droit de
    procéder à une résiliation sans préavis. GIGAME se réserve également le droit d'intenter des poursuites judiciaires
</p>

<p class="cdt"><span>6.5</span> GIGAME se réserve le droit de supprimer du contenu généré par l'utilisateur. Ceci
    s'applique en
    particulier au contenu enfreignant les présentes CGU.

</p>
<br>
{% endblock %}
