{% extends 'base.html.twig' %}

{% block title %}Mention légales{% endblock %}

{% block body %}
<h1 class="h1cd">Mentions Légales</h1>
<h2 class="h2cd">Agence</h2>
<p class="cdt">Agence associé avec un capital social de 10 euros</p>

<p class="cdt">RCS PARIS 812 525 491
</p>

<p class="cdt">Code APE 7112B
</p>

<h2 class="h2cd">Siège social</h2>
<p class="cdt">GiGame</p>

<p class="cdt">9 Rue Québec
</p>

<p class="cdt">10000 Troyes
</p>

<h2 class="h2cd">Contact</h2>
<p class="cdt">E-mail: trashproject.gigame@gmail.com</p>
<p class="cdt">Telephone: +33 6 28 63 88 62</p>

<br>
{% endblock %}
