{% extends 'base.html.twig' %}

{% block title %}Trash Project - Page d'accueil{% endblock %}

{% block body %}

<div style="margin-top: 100px">
    <h2>Trash Project, c'est...</h2>

    <ul>
        <li>Plus de {{partie_total}} parties au total</li>
        <li>Plus de {{ partie_total_en_cours }} parties qui sont en cours</li>
        <li>Et {{ partie_terminee }} parties qui sont terminées...</li>
    </ul>
</div>
{% endblock %}
