{% extends 'base.html.twig' %}

{% block body %}

    <h1>Félicitation {{ user }}, vous êtes inscrit!</h1> <br>

    <p>Vous pouvez désormais créer et participer à des parties en ligne. Bonne chance!</p>

{% endblock %}
