{% extends 'base.html.twig' %}

{% block body %}
<div style="height: 60vh; margin-top:100px">

    <h1 style="font-size:28px;">Félicitation {{ user }}, vous êtes inscrit!</h1> <br>

    <p style="text-align:center;">Vous pouvez désormais créer et participer à des parties en ligne. Bonne chance!</p>
</div>
{% endblock %}
