{# templates/emails/registration.html.twig #}
<h3>Bienvenue {{ name }}!</h3>

Merci de cliquez sur le lien ci-dessous pour valider votre inscription. Attention, vous devez être connecté sur le site avant de cliquer sur le lien!<br>

{# example, assuming you have a route named "login" #}
<a href="http://149.91.81.101/jeu/inscription/{{ confirmation }}">Confirmer son inscription</a>.<br>

Sincères salutations,<br><br>

L'équipe Trash Project <br><br>
{# Makes an absolute URL to the /images/logo.png file #}
<img width="100" src="{{ absolute_url(asset('img/home/logo_trashheader.png')) }}">