{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="margin-top: 100px"> Votre compte n'est pas vérifié! Merci de confirmer votre compte avec l'email que vous avez reçu. </h1>
{% endblock %}

{% block title %}

{% endblock %}

