  {% block head_js %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  {% endblock %}

  <section id="bloc_plateau">
       {% for case in cases %}
            <article class="bloc_case" id="caseId{{ loop.index }}">
                    <section class="case">
                        <img src="{{ asset('img/home/case/'~case.image|e) }}" alt="">
                        {% if loop.index0 > 0 %}
                        <div class="calendar_case">
                            <div class="calendar_header"><p>{{ case.journee }}</p></div>
                         
                        </div>
                        <p>{{loop.index}}</p>
                        {% endif %}
                    </section>
            </article>
      {% endfor %}
  </section>