{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<div style="height: 60vh; text-align: center; margin-top: 300px">
<h1>Attente de joueur</h1>
    Code partie : {{ partie.id }}
    <p>Joueurs inscrits : </p>
    <ul style="margin-bottom : 60px;">
        {% for jouer in partie.jouers %}
        <li>
            {{ jouer.joueur.username }}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ path('affiche_partie',{partie:partie.id}) }}" class="connexion" style="margin-right: auto; margin-left:auto;   text-decoration: none;
">Commencer la partie</a>

</div>
{% endblock %}

