<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cartes anims</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carte.css">
    <link rel="stylesheet" href="css/des.css">
    <script src="js/jquery.min.js"></script>
</head>
<body>
    <section id="wrapper">
        <header>
            <ul>
                <li><img src="img/home/logo_trashheader.png" alt="logo Trash Project" id="logoJ"/></li>
                <li><img src="img/home/perso.svg" alt="Avatar"/><p id="pseudo"><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>21</b><br />
</p></li>
                <li><img src="img/home/piece.svg" alt="Pièce"/><p>120</p></li>
            </ul>
            <h1>Tour 1</h1>
            <ul>
                <li class="navtxt"><a href="../index.html">Accueil</a></li>
                <li class="navtxt"><a href="#">Profil</a></li>
                <li class="navtxt"><a href="#">Règles</a></li>
            </ul>
        </header>

        <section id="bloc_plateau">
            <article class="bloc_case" id="caseId1">
                <section class="case">
                    <img src="img/home/case/depart.png" alt="Départ">
                </section>
            </article>
            <article class="bloc_case" id="caseId2">
                <section class="case">
                    <img src="img/home/case/embrouille.png" alt="Embrouille">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Lundi</p></div>
                        <p>1</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId3">
                <section class="case">
                    <img src="img/home/case/mail3.png" alt="3 mail">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mardi</p></div>
                        <p>2</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId4">
                <section class="case">
                    <img src="img/home/case/jpo.png" alt="Journée portes ouvertes">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mercredi</p></div>
                        <p>3</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId5">
                <section class="case">
                    <img src="img/home/case/caution.png" alt="Caution">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Jeudi</p></div>
                        <p>4</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId6">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Vendredi</p></div>
                        <p>5</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId7">
                <section class="case">
                    <img src="img/home/case/mail2.png" alt="2 mails">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Samedi</p></div>
                        <p>6</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId8">
                <section class="case">
                    <img src="img/home/case/glandeur.png" alt="Glandouille">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Dimanche</p></div>
                        <p>7</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId9">
                <section class="case">
                    <img src="img/home/case/debat.png" alt="Débat">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Lundi</p></div>
                        <p>8</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId10">
                <section class="case">
                    <img src="img/home/case/mail3.png" alt="3 mail">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mardi</p></div>
                        <p>9</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId11">
                <section class="case">
                    <img src="img/home/case/caution.png" alt="Caution">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mercredi</p></div>
                        <p>10</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId12">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Jeudi</p></div>
                        <p>11</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId13">
                <section class="case">
                    <img src="img/home/case/diapo.png" alt="Diaporama">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Vendredi</p></div>
                        <p>12</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId14">
                <section class="case">
                    <img src="img/home/case/mail3.png" alt="3 mails">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Samedi</p></div>
                        <p>13</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId15">
                <section class="case">
                    <img src="img/home/case/glandeur.png" alt="Glandouille">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Dimanche</p></div>
                        <p>14</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId116">
                <section class="case">
                    <img src="img/home/case/mail2.png" alt="2 mail">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Lundi</p></div>
                        <p>15</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId17">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mardi</p></div>
                        <p>16</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId18">
                <section class="case">
                    <img src="img/home/case/emprunt.png" alt="Emprunt">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mercredi</p></div>
                        <p>17</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId19">
                <section class="case">
                    <img src="img/home/case/mail2.png" alt="2 mails">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Jeudi</p></div>
                        <p>18</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId20">
                <section class="case">
                    <img src="img/home/case/caution.png" alt="Caution">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Vendredi</p></div>
                        <p>19</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId21">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Samedi</p></div>
                        <p>20</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId22">
                <section class="case">
                    <img src="img/home/case/glandeur.png" alt="Glandouille">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Dimanche</p></div>
                        <p>21</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId23">
                <section class="case">
                    <img src="img/home/case/emprunt.png" alt="Emprunt">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Lundi</p></div>
                        <p>22</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId24">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mardi</p></div>
                        <p>23</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId25">
                <section class="case">
                    <img src="img/home/case/rapport.png" alt="Rapport">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mercredi</p></div>
                        <p>24</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId26">
                <section class="case">
                    <img src="img/home/case/mail3.png" alt="3 mails">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Jeudi</p></div>
                        <p>25</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId27">
                <section class="case">
                    <img src="img/home/case/emprunt.png" alt="Emprunt">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Vendredi</p></div>
                        <p>26</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId28">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Samedi</p></div>
                        <p>27</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId29">
                <section class="case">
                    <img src="img/home/case/glandeur.png" alt="Glandouille">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Dimanche</p></div>
                        <p>28</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId30">
                <section class="case">
                    <img src="img/home/case/mail1.png" alt="1 mail">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Lundi</p></div>
                        <p>29</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId31">
                <section class="case">
                    <img src="img/home/case/imprevu.png" alt="Imprévu">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mardi</p></div>
                        <p>30</p>
                    </div>
                </section>
            </article>
            <article class="bloc_case" id="caseId32">
                <section class="case">
                    <img src="img/home/case/powerpoint.png" alt="Point Projet">
                    <div class="calendar_case">
                        <div class="calendar_header"><p>Mercredi</p></div>
                        <p>31</p>
                    </div>
                </section>
            </article>
        </section>

        <section id="arrows"></section>

        <section id="bloc_playerContent">
            <section id="B_sideG">
                <img src="img/home/plateau.png" alt="">
                <div id="bloc_chat">
                    <div id="chat_header">
                        <p>Chat</p>
                    </div>
                    <section id="messages">
                        <br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="1"><p class="msg_name">Billy</p><div class="msg"><p>Salut !</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="2"><p class="msg_name">Billy</p><div class="msg"><p>Ça va ?</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="3"><p class="msg_name">Nate</p><div class="msg"><p>Oui et toi ?</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="4"><p class="msg_name">Billy</p><div class="msg"><p>Ben comme d'hab hein la schizophrénie</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="5"><p class="msg_name">Nate</p><div class="msg"><p>Ah gars plus on est de fous plus on rit</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="6"><p class="msg_name">Billy</p><div class="msg"><p>Eh ben on va se fendre la poire alors</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="7"><p class="msg_name">Nate</p><div class="msg"><p>Gros, jviens de me rendre compte d'un truc</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="8"><p class="msg_name">Billy</p><div class="msg"><p>Quoi ?</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="9"><p class="msg_name">Nate</p><div class="msg"><p>Beh c'est impossible d'être dyslexique et schizophrène</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="10"><p class="msg_name">Nate</p><div class="msg"><p>Boh après vue comme ça, c'est impossible pour un dyslexique d'être dyslexique...</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="11"><p class="msg_name">Nate</p><div class="msg"><p>Complexe</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="44"><p class="msg_name">Billy</p><div class="msg"><p>Allez casse toi va</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="45"><p class="msg_name">Nate</p><div class="msg"><p>Vu.</p></div></div><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>340</b><br />
<div class="bloc_msg msg_in" data-id="46"><p class="msg_name">d</p><div class="msg"><p>:O
</p></div></div>                    </section>
                    <div id="new_msg">
                        <textarea name="" id="text_msg"></textarea>
                        <div id="send_msg">
                            <svg data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.59 12.73"><title>Envoyer</title><path id="send_path" d="M2.55,15.3,15.64,9.69a.75.75,0,0,0,0-1.38L2.55,2.7a.74.74,0,0,0-1,.68V6.84a.75.75,0,0,0,.65.74L12.75,9,2.15,10.41a.76.76,0,0,0-.65.75v3.46A.74.74,0,0,0,2.55,15.3Z" transform="translate(-1.5 -2.64)"/></svg>
                        </div>
                    </div>

                </div>
            </section>
            <section id="B_C">
                <section id="B_assets">
                    <div id="asset_de"></div>
                    <div id="asset_robot"></div>
                    <div id="asset_cagnotte"></div>
                </section>
                <section id="B_pioche">
                    <article class="carte_pioche" id="mail"><img src="img/mailD.png" alt=""></article>
                    <article class="carte_pioche" id="imp"><img src="img/impD.png" alt=""></article>
                    <article class="carte_pioche" id="apoal"><img src="img/apoalD.png" alt=""></article>
                </section>
            </section>
            <ul id="B_other_player">
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p><br />
<b>Notice</b>:  Undefined index: pseudo in <b>/var/www/public_html/gigame/index.php</b> on line <b>378</b><br />
</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p>Fabien</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p>Eurhone</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p>Billy</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p>Quentin</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="img/home/perso.svg" alt="Avatar"/>
                    <div>
                        <p>Lucie</p>
                        <span>
                            <img src="img/home/piece.svg" alt="Pièce">
                             <p>120</p>
                        </span>
                    </div>
                </li>
            </ul>
        </section>
    </section>


    <section id="wrapper_carte">
        <section id="bloc_tas">
            <section id="carte_tas">
                <img src="" id="src_tasTop" alt="Carte {{yes}}">
            </section>
            <section id="pile_cartes">
                <img src="" id="src_tas" alt="Pile de cartes {{yes}}">
            </section>
        </section>

        <section id="carte">
            <img src="" id="src_carte" alt="Cartes {{bail}}">
            <div id="shdw_carte"></div>
        </section>
    </section>

    <section id="wrapper_des">
        <section id="losdos">
            <div class="dé_wrap">
                <div class="dé_cube" id="dé_cube1">
                    <div class="dé_front dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hm"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bm"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_back dé_face">
                        <article class="dé_point dé_mm"></article>
                    </div>
                    <div class="dé_top dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_bottom dé_face">
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_mm"></article>
                        <article class="dé_point dé_bg"></article>
                    </div>
                    <div class="dé_left dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_mm"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_right dé_face">
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                    </div>
                </div>
            </div>
            <div class="dé_wrap" id="dé_2">
                <div class="dé_cube" id="dé_cube2">
                    <div class="dé_front dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hm"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bm"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_back dé_face">
                        <article class="dé_point dé_mm"></article>
                    </div>
                    <div class="dé_top dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_bottom dé_face">
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_mm"></article>
                        <article class="dé_point dé_bg"></article>
                    </div>
                    <div class="dé_left dé_face">
                        <article class="dé_point dé_hg"></article>
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_mm"></article>
                        <article class="dé_point dé_bg"></article>
                        <article class="dé_point dé_bd"></article>
                    </div>
                    <div class="dé_right dé_face">
                        <article class="dé_point dé_hd"></article>
                        <article class="dé_point dé_bg"></article>
                    </div>
                </div>
            </div>

        </section>
        <p id="score"></p>
    </section>



    <div id="shdw"></div>

    <script>//CARTE PIOCH
        let src_id=$(this).attr('id');
        $('.carte_pioche').click(function(){
            $('#wrapper_carte').css('display','block');
            src_id=$(this).attr('id');
            $('#src_tasTop').attr('src','img/'+src_id+'D_top.png');
            $('#src_tas').attr('src','img/'+src_id+'_tas.png');
            $('#src_carte').attr('src','img/'+src_id+'F.png');
            shdw_in();
            setTimeout(intitTransition,500);
        });

        $('#pioch').click(function(){
            $('#carte_tas').css('transform','translate(-50%) rotate3d(1, 0, 0, 45deg) translate3d(0,100vh,0)');
            setTimeout(pioch2,500);
        });
        $('#carte_tas').click(function(){
            $('#carte_tas').css('transform','translate(-50%) rotate3d(1, 0, 0, 45deg) translate3d(0,100vh,0)');
            setTimeout(pioch2,500);
        });
        function pioch2(){
            $('#carte').css({'top':'0','transform':'translate(-50%)'});
            $('#shdw_carte').css('animation','ombre 1s');
            if(src_id=='mail'){
                setTimeout(function(){$('#carte').css('transform','translate(-100%,-0%) rotate(90deg)')},1000);
            }
        }

        $('#carte').click(function(){
            $('#carte').css('left','-100vw');
            $('#pile_cartes').css('left','-100vw');
            shdw_out();
            setTimeout(redefine,1000);
        });

        function redefine(){
            $('#bloc_tas').css({'top':'100vh','transition':'none'});
            $('#carte_tas').css({'transform':'translate(-50%) rotate3d(1, 0, 0, 45deg)','transition':'none'});
            $('#carte').css({'top':'100vh','transform':'translate(-50%) rotate3d(0, 1, 0, 90deg)','left':'50%','transition':'none'});
            $('#shdw_carte').css({'animation':'none','transition':'none'});
            $('#pile_cartes').css({'left':'50%','transition':'none'});
            $('#wrapper_carte').css('display','none');
        }

        function intitTransition(){
            $('#bloc_tas').css('top','0');
            intitTransition2();
        }
        function intitTransition2(){
            $('#bloc_tas').css('transition','top 1s');
            $('#carte_tas').css('transition','transform 0.5s');
            $('#carte').css('transition','top 1s,transform 1s,left 1s');
            $('#shdw_carte').css('transition','left 1s');
            $('#pile_cartes').css('transition','left 1s');
        }

        function shdw_in(){
            $('#shdw').css('display','block');
            setTimeout(function(){$('#shdw').css('background','rgba(0, 0, 0, 0.4)')},10);
        }
        function shdw_out(){
            $('#shdw').css('background','rgba(0, 0, 0, 0.0)');
            setTimeout(function(){$('#shdw').css('display','none');},500);
        }
    </script>
    <script>//Les dés
        $('#asset_de').click(function(){
            shdw_in();
            $('#wrapper_des').css('display','flex');
            setTimeout(desin,10);
        });
        function desin(){
            $('#wrapper_des').css('top','0');
        }
    </script>
    <script src="js/chat.js"></script>
    <script src="js/des.js"></script>
</body>
</html>